.section-title{
    text-align: left;
    font-weight: 600;
    text-transform: capitalize;
}
.latest-tip{
    padding: 10px;
    margin: 10px;
    text-align: left;
}
.latest-tip:hover{
    background-color: rgb(243, 243, 243);
}
.latest-img img{
    max-width: 100%;
    transition: 0.5s ease-in-out;
}
.latest-tip img:hover{
    border-radius: 5px;
}
.fullLink{
    text-decoration: none;
}
.latest-info{
   padding-left: 10px;
   padding-top: 10px;
}
.category {
    font-size: 14px;
    color: #777;
    text-decoration: none;
    margin: 0;
}
.title {
    text-decoration: none;
    color: #222;
    font-weight: 600;
    padding: 0;
    text-transform:capitalize;
}
.credit{
    color: #444;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
}
.btn-read{
    background-color:#ff3659 ;
    padding: 5px 20px;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 14px;
}
.btn-read:hover{
    color: #fff;
    background-color: #e02f4c;
}