.section-title{
    text-align: left;
    font-weight: 600;
}
.latest-tip{
    padding-top: 15px;
    margin: 10px;
    border-radius: 10px;
    text-align: left;
}
.latest-img img{
    max-width: 100%;
    transition: 0.5s ease-in-out;
}
.latest-tip img:hover{
    scale: 1.045;
    border-radius: 5px;
}
.fullLink{
    text-decoration: none;
}
.latest-info{
   padding-left: 10px;
   padding-top: 10px;
}
.category {
    font-size: 14px;
    color: #777;
    text-decoration: none;
}
.title {
    text-decoration: none;
    color: #222;
    font-weight: 600;
    text-transform: capitalize;
}
.des{
    text-transform: capitalize;
    color: #ff3659;
    text-align: center;
    padding-top: 10px;
    font-size: 13px;
}
.credit{
    color: #444;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
}